/* public/assets/app.css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --primary-blue-dark: #003256;
    --primary-blue-middle: #005EA4;
    --primary-blue-light: #09AEE6;
    --primary-blue-lightest: #44BFEA;
    --primary-white-background: #E8E5DF;
    --primary-brown: #968462;

    --dark-text: #e8e5df;
    --dark-background: #2c373f;
    --dark-brown: #546645;

}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

header section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10vw;
}

.dropdown_in_header {
    display: flex;
    margin-top: 2vw;
}

.logo_in_header {
    width: 10vw;
    display: flex;
}

.logo {
    width: 100%;
    object-fit: contain;
}

.dropbtn {
    background-color: var(--primary-blue-light);
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-white-background);
    min-width: 220px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--primary-blue-dark);
}

footer {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #e8e5df;
}

.footer-copyright {
    color: var(--primary-blue-dark);
    padding-left: 100px;
}

.login-container {
    margin: 10vh 10vw;
    display: flex;
    justify-content: space-evenly;
}

.login-medewerker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    background-color: var(--primary-blue-light);
}

.login-email {
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin: 5px;
}

.login-email-align-left {
    text-align: end;
    width: 20vw;
    padding-right: 5px;
}

.login-email-align-right {
    width: 20vw;
}

.login-password {
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin: 5px;
}

.login-password-align-left {
    text-align: end;
    width: 20vw;
    padding-right: 5px;
}

.login-password-align-right {
    width: 20vw;
}

.form-submit {
    display: flex;
    justify-content: end;
}

input[type=submit] {
    font-family: "Open Sans", sans-serif;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid var(--primary-blue-dark);
    background-color: var(--primary-blue-lightest);
}


.agenda_content {
    display: flex;
    justify-content: space-between;
    margin: 50px;

}

.room_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30vw;
}

/* top-left blauwe balk "Reserveren" */
.room_header {
    background-color: var(--primary-blue-dark);
    height: 6vh;
    width: 14vw;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    font-family: Bahnschrift;
}

/* linker paneel */
.room_stuff {
    background-color: var(--primary-white-background);
    height: 32vw;
    width: 24vw;
    font-family: Bahnschrift;
    padding-top: 10px;
}

.heada {
    margin-left: 2vw;
}

/* Rooms list met "Ruilen" rechts */
.actual_rooms {
    margin-top: 10px;
}

.rooms_list {
    width: 100%;
}

.room_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.room_left {
    font-weight: 700;
}

.room_right {
    font-weight: 700;
}

.room_row.is-brown {
    background: #9a8a6a;
}

.room_row.is-cyan {
    background: #09AEE6;
}

.room_row.is-navy {
    background: #003256;
}

.room_row:hover {
    filter: brightness(0.97);
}

.room_row.is-selected {
    outline: 3px solid #00000055;
    box-shadow: inset 0 0 0 3px #ffffff55;
}

.actual_filter {
    display: flex;
    justify-content: flex-start;
    padding-left: 2vw;
    padding-top: 18px;
    font-weight: 700;
    color: #000;
}

.selected_room_line {
    margin: 10px 0;
    color: #000;
    padding-left: 2vw;
    padding-right: 2vw;
}

.reserve_form {
    padding-left: 2vw;
    padding-right: 2vw;
}

.reserve_form input {
    width: calc(100% - 0px);
    margin-top: 8px;
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.reserve_btn {
    margin-top: 10px;
    width: 100%;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    background: var(--primary-blue-dark);
    color: #fff;
    font-weight: 700;
}

.reserve_btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* rechter paneel */
.agenda {
    display: flex;
    flex-direction: column;
    width: 60vw;
    gap: 10px;
}

/* tabs boven kalender */
.filter_view {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-content: center;
    background-size: contain;
    width: 32vw;
    padding-bottom: 0;
    font-family: Bahnschrift;


}

.actual_agenda {
    background-color: rgb(9, 174, 230);
    height: 40vw;
    border-width: 1px;
    border-style: solid;

}

.actual_rooms {
    
}

.actual_rooms a {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 2vw;
    border-left: 7px solid #968768;
    background-color: #cbc3b4;
}

.actual_rooms a:hover {
    background-color: #968768;
    border-left: 7px solid #968768;
}

.actual_filter {
    display: flex;
    justify-content: center;
}

.button_day {
    background-color: #e8e5df;
    border-left: 7px solid #09aee6;
    width: 14vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_week {
    background-color: #e8e5df;
    border-left: 7px solid #09aee6;
    width: 14vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_month {
    background-color: #e8e5df;
    border-left: 7px solid #09aee6;
    width: 14vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_day:hover {
    background-color: var(--primary-blue-lightest);
    border-left: 7px solid var(--primary-blue-lightest);
}

.button_week:hover {
    background-color: var(--primary-blue-lightest);
    border-left: 7px solid var(--primary-blue-lightest);
}

.button_month:hover {
    background-color: var(--primary-blue-lightest);
    border-left: 7px solid var(--primary-blue-lightest);
}

/* css detail pagina */
.details_section {
    background-color: #cbc3b4;
    display: flex;
    margin: 5vw 10vw;
    height: 30vw;
    flex-direction: row;
}

.greetings {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
}

.details_table_body thead {
    background-color: var(--primary-blue-dark);
    color: var(--dark-text);
}
.details_table_body tbody {
    background-color: var(--primary-white-background);
}

.detail_table_div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3vw;
}

.details_table_body, tr, th {
    border : 2px solid var(--primary-blue-dark);
    border-collapse: collapse;
    padding: 8px;
}



/* einde css detail pagina */

@media (prefers-color-scheme: dark){
    a:link, a:visited {
        color: white;

    }

    .button-blue {
        background-image: linear-gradient(to right, #42aed5, var(--primary-blue-light) 95%);
        background-color: var(--primary-blue-lightest);
    }

    .dropbtn {
        background-color: var(--primary-blue-light);
    }

    .dropdown-content {
        background-color: var(--primary-white-background);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
        color: black;
    }

    .dropdown-content a:hover {
        background: #ddd;
    }

    .dropdown:hover .dropbtn {
        background-color: var(--primary-blue-dark);
    }

    footer {
        background-color: #e8e5df;
    }

    .footer-copyright {
        color: var(--primary-blue-dark);
    }

    .login-medewerker {
        background-color: var(--primary-blue-light);
    }

.actual_agenda {
    background-color: var(--primary-white-background);
    height: 40vw;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    padding: 0;
    overflow: hidden;
}

/* FullCalendar */
#calendar {
    height: 100%;
    background: var(--primary-white-background);
}

/* FullCalendar styling */

/* header row donkerblauw */
.fc .fc-col-header {
    background: var(--primary-blue-dark);
}

.fc .fc-col-header-cell-cushion {
    color: #fff;
    font-family: Bahnschrift;
    font-weight: 700;
}

/* linker tijd-kolom donkerblauw */
.fc .fc-timegrid-axis {
    background: var(--primary-blue-dark);
}

.fc .fc-timegrid-axis-cushion {
    color: #fff;
    font-size: 12px;
}

/* grid achtergrond */
.fc .fc-scrollgrid,
.fc .fc-scrollgrid-section > td,
.fc .fc-timegrid-body,
.fc .fc-timegrid-cols,
.fc .fc-timegrid-col-frame {
    background: var(--primary-white-background);
}

/* donkerblauwe kolomlijnen */
.fc .fc-scrollgrid td,
.fc .fc-scrollgrid th {
    border-color: #1b5f86;
}

.fc .fc-timegrid-slot {
    border-color: #65bfe0;
}

.fc .fc-timegrid-divider {
    display: none;
}


.fc .fc-event {
    border-width: 2px;
}
/*darkmode*/
body.dark{
    background-color: black;
}
.dark{
    a:link, a:visited {
        color: white;
    }

    .dropbtn {
        background-color: var(--primary-blue-light);
    }

    .dropdown-content {
        background-color: var(--primary-white-background);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
        color: black;
    }

    .dropdown-content a:hover {
        background: #ddd;
    }

    .dropdown:hover .dropbtn {
        background-color: var(--primary-blue-dark);
    }

    footer {
        background-color: #e8e5df;
    }

    .footer-copyright {
        color: var(--primary-blue-dark);
    }

    /* top-left blauwe balk "Reserveren" */
    .room_header {
        background-color: var(--primary-blue-dark);
    }

    /* linker paneel */
    .room_stuff {
        background-color: var(--primary-white-background);
    }

    .room_row {
        color: #fff;
    }

    .room_row.is-brown {
        background: #9a8a6a;
    }

    .room_row.is-cyan {
        background: #09AEE6;
    }

    .room_row.is-navy {
        background: #003256;
    }

    .room_row:hover {
    }

    .room_row.is-selected {
        outline: 3px solid #00000055;
        box-shadow: inset 0 0 0 3px #ffffff55;
    }

    .actual_filter {
        color: #000;
    }

    .selected_room_line {
        color: #000;
    }

    .reserve_form input {
        border: 1px solid rgba(0, 0, 0, 0.25);
    }

    .reserve_btn {
        background: var(--primary-blue-dark);
        color: #fff;
    }

    /* tabs boven kalender */
    .filter_view {
        background: transparent;
    }

    /* tab look (Maand/Week/Dag) */
    .tab_btn {
        background-color: var(--primary-white-background);
        border-left: 7px solid var(--primary-blue-light);
        color: #000;
    }

    .tab_btn.is-active {
        background-color: var(--primary-blue-light);
    }

    .actual_agenda {
        background-color: var(--primary-white-background);
    }

    /* FullCalendar */
    #calendar {
        background: var(--primary-white-background);
    }

    /* FullCalendar styling */

    /* header row donkerblauw */
    .fc .fc-col-header {
        background: var(--primary-blue-dark);
    }

    .fc .fc-col-header-cell-cushion {
        color: #fff;
    }

    /* linker tijd-kolom donkerblauw */
    .fc .fc-timegrid-axis {
        background: var(--primary-blue-dark);
    }

    .fc .fc-timegrid-axis-cushion {
        color: #fff;
    }

    /* grid achtergrond */
    .fc .fc-scrollgrid,
    .fc .fc-scrollgrid-section > td,
    .fc .fc-timegrid-body,
    .fc .fc-timegrid-cols,
    .fc .fc-timegrid-col-frame {
        background: var(--primary-white-background);
    }

    /* donkerblauwe kolomlijnen */
    .fc .fc-scrollgrid td,
    .fc .fc-scrollgrid th {
        border-color: #1b5f86;
    }

    .fc .fc-timegrid-slot {
        border-color: #65bfe0;
    }

}