@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --primary-blue-dark: #003256;
    --primary-blue-middle: #005EA4;
    --primary-blue-light: #09AEE6;
    --primary-blue-lightest: #44BFEA;
    --primary-white-background: #E8E5DF;
    --primary-brown: #968462;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

.button-blue {
    width: 120px;
    text-align: center;
    background-image: linear-gradient(to right, #42aed5, var(--primary-blue-light) 95%);
    background-color: var(--primary-blue-lightest);
    border-left: 7px solid var(--primary-blue-lightest);
    padding: 10px;
    transition: translate 0.3s;
}

.button-blue:hover {
    background-image: none;
    translate: 6px;
}

header section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10vw;
}

.dropdown_in_header {
    display: flex;
    margin-top: 2vw;
}
.logo_in_header {
    width: 10vw;
    display: flex;

}

.logo {
    width: 100%;
    object-fit: contain;
}

.dropbtn {
    background-color: var(--primary-blue-light);
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-white-background);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--primary-blue-dark);
}

.login-container {
    margin: 10vh 10vw;
    display: flex;
    justify-content: space-evenly;
}

.login-medewerker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    background-color: var(--primary-blue-light);
}

.login-email {
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin: 5px;
}

.login-email-align-left {
    text-align: end;
    width: 20vw;
    padding-right: 5px;
}

.login-email-align-right {
    width: 20vw;
}

.login-password {
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin: 5px;
}

.login-password-align-left {
    text-align: end;
    width: 20vw;
    padding-right: 5px;
}

.login-password-align-right {
    width: 20vw;
}

.form-submit {
    display: flex;
    justify-content: end;
}

input[type=submit] {
    font-family: "Open Sans", sans-serif;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid var(--primary-blue-dark);
    background-color: var(--primary-blue-lightest);
}


.agenda_content {
    display: flex;
    justify-content: space-between;
    margin: 50px;

}

.room_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

.room_header {
    background-color: #003256;
    height: 6vh;
    width: 14vw;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    font-family: Bahnschrift;
}

.room_stuff {
    background-color: #e8e5df;
    height: 32vw;
    width: 24vw;
    font-family: Bahnschrift;
}

.heada {
    margin-left: 2vw;
}

.agenda {
    display: flex;
    flex-direction: column;
    width: 60vw;
    gap: 10px;
}

.filter_view {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-content: center;
    background-size: contain;
    width: 32vw;
    padding: 20px 0px;
    font-family: Bahnschrift;

}

.actual_agenda {
    background-color: rgb(9, 174, 230);
    height: 40vw;
    border-width: 1px;
    border-style: solid;

}

.button_day {
    background-color: #e8e5df;
    border-left: 7px solid #09aee6;
    width: 14vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_week {
    background-color: #e8e5df;
    border-left: 7px solid #09aee6;
    width: 14vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_month {
    background-color: #e8e5df;
    border-left: 7px solid #09aee6;
    width: 14vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_day:hover {
    background-color: var(--primary-blue-lightest);
    border-left: 7px solid var(--primary-blue-lightest);
}

.button_week:hover {
    background-color: var(--primary-blue-lightest);
    border-left: 7px solid var(--primary-blue-lightest);
}

.button_month:hover {
    background-color: var(--primary-blue-lightest);
    border-left: 7px solid var(--primary-blue-lightest);
}